<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flash Meet</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Flash Meet</span>
    </nav>

    <div class="id-container" id="id-container">
      <small class="m-2">Your Id : </small><br />
      <p type="text" id="our-id"></p>
    </div>

    <div id="chat-container">
      <div class="frndmsgctn">
        <small class="frnd-title">Friend : </small>
        <p id="frnd-msg"></p>
      </div>

      <div class="yourmsgctn">
        <small class="your-title">You : </small>
        <p id="your-msg"></p>
      </div>

      <div class="msgfield">
        <input type="text" id="sendingmsg" maxlength="25" /><button
          class="connect-button"
          id="send-message"
        >
          <i class="far fa-paper-plane" id="connect-icon"></i>
        </button>
      </div>
    </div>

    <div id="message-container">
      <h5 id="message">
        <p id="txt">
          1. Copy and share Your Id OR Ask Friend's Id.<br /><br />
          2. Paste below the Friend Id field<br /><br />
          3. Choose Which Type Of Video Chatting<br /><br />

          > "Call" - Video Call<br />
          > "Share Screen" - Sharing Your Screen<br /><br />
          4.Click to connect your friend.<br /><br />
          <small>Note: Screen Sharing Supports only on PC</small>
        </p>
      </h5>

      <div id="incoming-call-container">
        <p>Incoming Call</p>
        <small>Answer With :</small><br />
        <button class="answer-video-button" id="accept-video">
          Video Call
        </button>
        <button class="answer-screen-button" id="accept-screen">
          Screen Share</button
        ><br /><br />
        <p>
          <button class="terminate-button" id="terminatebtn1">
            Cancel Call
          </button>
        </p>
      </div>
    </div>

    <div id="video-container"></div>
    <div class="friend-id-container">
      <div id="fid-container">
        <small class="m-2">Friend Id : </small><br />
        <input type="text" id="friend-id" /><br />
        <button class="connect-button ml-1" id="connect-video">
          Call <i class="fas fa-phone-alt"></i>
        </button>
        <button class="connect-button" id="connect-screen">
          Share Screen <i class="fas fa-share-square"></i>
        </button>
      </div>

      <button id="terminatebtn2" class="end-call-button">End Call</button>
    </div>
    <div id="our-video-container"></div>
    <footer>© THUNDERX⚡</footer>

    <script src="../model/app.js"></script>
  </body>
</html>
